.u-section-1 {
    background-image: none;
    min-height: 932px;
}

.u-section-1 .u-shape-1 {
    height: 720px;
    margin-top: 212px;
    margin-bottom: 0;
    margin-left: 0;
}

.u-section-1 .u-image-1 {
    width: 918px;
    height: 536px;
    margin: -902px auto 0 calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-group-1 {
    width: 918px;
    min-height: 338px;
    margin: 14px auto 0 calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: abril-fatface;
    margin: 35px 73px 0;
}

.u-section-1 .u-text-2 {
    letter-spacing: 2px;
    width: 647px;
    margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
    width: 396px;
    height: 3px;
    transform-origin: left center 0;
    border-style: double;
    margin: 35px auto;
}

.u-section-1 .u-image-2 {
    width: 183px;
    height: 171px;
    margin: -466px auto 95px calc(((100% - 1140px) / 2) + 20px);
}

@media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
        margin-left: initial;
    }

    .u-section-1 .u-image-1 {
        width: 757px;
        margin-left: calc(((100% - 940px) / 2) + 92px);
    }

    .u-section-1 .u-group-1 {
        width: 757px;
        margin-right: calc(((100% - 940px) / 2) + 91px);
        margin-left: auto;
    }

    .u-section-1 .u-text-1 {
        position: relative;
        font-size: 3rem;
        margin-left: 60px;
        margin-right: 60px;
    }

    .u-section-1 .u-text-2 {
        width: 533px;
        position: relative;
    }

    .u-section-1 .u-line-1 {
        width: 326px;
    }

    .u-section-1 .u-image-2 {
        width: 167px;
        margin-bottom: 242px;
        margin-left: calc(((100% - 940px) / 2));
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 816px;
    }

    .u-section-1 .u-image-1 {
        width: 580px;
        height: 542px;
        margin-left: calc(((100% - 720px) / 2) + 70px);
    }

    .u-section-1 .u-group-1 {
        width: 580px;
        margin-top: 48px;
        margin-right: auto;
        margin-left: calc(((100% - 720px) / 2) + 70px);
    }

    .u-section-1 .u-text-1 {
        margin-top: 17px;
        margin-left: 21px;
        margin-right: 21px;
    }

    .u-section-1 .u-text-2 {
        width: 409px;
        margin-top: 13px;
        margin-left: 86px;
        margin-right: 86px;
    }

    .u-section-1 .u-line-1 {
        width: 250px;
        margin-bottom: 11px;
    }

    .u-section-1 .u-image-2 {
        width: 183px;
        margin-top: -407px;
        margin-bottom: 286px;
        margin-left: calc(((100% - 720px) / 2) + 11px);
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 711px;
    }

    .u-section-1 .u-shape-1 {
        height: 821px;
        margin-top: 168px;
        margin-left: initial;
    }

    .u-section-1 .u-image-1 {
        height: 333px;
        margin-top: -936px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-group-1 {
        margin-top: 65px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-1 {
        margin-top: 54px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        width: 383px;
        margin-top: 11px;
        margin-right: 72px;
    }

    .u-section-1 .u-line-1 {
        width: 234px;
        margin-bottom: 0;
    }

    .u-section-1 .u-image-2 {
        width: 186px;
        margin-top: -491px;
        margin-bottom: 332px;
        margin-left: calc(((100% - 540px) / 2));
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 594px;
    }

    .u-section-1 .u-shape-1 {
        height: 707px;
        margin-left: initial;
    }

    .u-section-1 .u-image-1 {
        width: 340px;
        margin-top: -822px;
        margin-right: auto;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-1 {
        position: relative;
        font-size: 2.25rem;
        margin-top: 36px;
        margin-left: 22px;
        margin-right: 22px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 22px;
        margin-left: 9px;
        margin-right: 9px;
        width: 340px;
    }

    .u-section-1 .u-line-1 {
        width: 197px;
        margin-top: 24px;
        margin-bottom: 36px;
        margin-left: 72px;
    }

    .u-section-1 .u-image-2 {
        width: 187px;
        margin-top: -542px;
        margin-bottom: 414px;
        margin-left: calc(((100% - 340px) / 2) + 77px);
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 201px;
}

.u-section-2 .u-group-1 {
    width: 805px;
    min-height: 118px;
    margin: 50px auto;
    display: initial;
}

.u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
}

.u-section-2 .u-text-1 {
    letter-spacing: 1px;
    font-family: abril-fatface;
    margin: 20px 79px 0;
}

.u-section-2 .u-btn-1 {
    border-style: solid;
    background-image: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px auto;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 284px;
    }

    .u-section-2 .u-group-1 {
        width: 664px;
        margin-bottom: 0;
    }

    .u-section-2 .u-text-1 {
        margin-left: 65px;
        margin-right: 65px;
    }

    .u-section-2 .u-btn-1 {
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-group-1 {
        width: 614px;
        min-height: 223px;
        margin-top: 31px;
        margin-bottom: 30px;
    }

    .u-section-2 .u-text-1 {
        position: relative;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-group-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-text-1 {
        margin-left: 37px;
        margin-right: 37px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-group-1 {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-2 .u-text-1 {
        margin-left: 23px;
        margin-right: 23px;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 723px;
}

.u-section-3 .u-shape-1 {
    width: 570px;
    height: 340px;
    margin: 312px auto 0 60px;
}

.u-section-3 .u-layout-wrap-1 {
    width: 931px;
    margin: -579px auto 70px 105px;
}

.u-section-3 .u-image-1 {
    background-image: url("../../images/5c76c1f682df8d7e67481ff0144e2f57.jpeg");
    min-height: 534px;
    background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 534px;
}

.u-section-3 .u-text-1 {
    margin-left: 20px;
    margin-right: 0;
    font-family: "Dancing Script";
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 0;
}

.u-section-3 .u-text-2 {
    font-family: abril-fatface;
    margin: 20px 0 0 -215px;
}

.u-section-3 .u-text-3 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 20px 0 0 12px;
}

.u-section-3 .u-btn-1 {
    border-style: solid;
    background-image: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 12px 0 23px auto;
}

@media (max-width: 1199px) {
    .u-section-3 .u-shape-1 {
        width: 470px;
        margin-left: 49px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 768px;
        margin-left: 87px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 16px;
        position: relative;
    }

    .u-section-3 .u-text-2 {
        position: relative;
        font-size: 1.875rem;
        margin-left: -177px;
    }

    .u-section-3 .u-text-3 {
        position: relative;
        margin-left: 10px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-shape-1 {
        width: 360px;
        margin-left: 38px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 588px;
        margin-left: 66px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 13px;
    }

    .u-section-3 .u-text-2 {
        margin-left: -136px;
    }

    .u-section-3 .u-text-3 {
        margin-left: 8px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1074px;
    }

    .u-section-3 .u-shape-1 {
        width: 366px;
        height: 448px;
        margin-top: 150px;
        margin-left: 0;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 490px;
        margin: -526px 0 24px auto;
    }

    .u-section-3 .u-image-1 {
        min-height: 489px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 488px;
    }

    .u-section-3 .u-text-1 {
        margin-top: 56px;
        margin-left: 9px;
    }

    .u-section-3 .u-text-2 {
        margin-top: 6px;
        margin-left: 50px;
    }

    .u-section-3 .u-text-3 {
        margin-top: 11px;
        margin-left: 6px;
    }

    .u-section-3 .u-btn-1 {
        margin-top: 31px;
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1117px;
    }

    .u-section-3 .u-shape-1 {
        width: 301px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 309px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 532px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-text-2 {
        margin-right: 6px;
        margin-left: 0;
    }

    .u-section-3 .u-text-3 {
        margin-top: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .u-section-3 .u-btn-1 {
        margin-top: 13px;
        margin-right: 6px;
        margin-bottom: 31px;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 542px;
}

.u-section-4 .u-group-1 {
    width: 708px;
    min-height: 128px;
    margin: 10px auto 0;
}

.u-section-4 .u-container-layout-1 {
    padding-right: 10px;
}

.u-section-4 .u-text-1 {
    font-family: abril-fatface;
    margin: 15px 10px 0;
    text-align: center;
}

.u-section-4 .u-line-1 {
    width: 253px;
    height: 3px;
    transform-origin: left center 0;
    border-style: double;
    margin: 30px auto 15px;
}

.u-section-4 .u-layout-wrap-1 {
    margin: 20px auto 55px 0;
}

.u-section-4 .u-image-1 {
    background-image: url("../../images/52e1bbc58ce95e842d8fe3151c4b3a69.jpeg");
    min-height: 338px;
    background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
    background-image: url("../../images/413e0f32f465c7ef5a98ee2dd8c7857a.jpeg");
    min-height: 338px;
    background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
    background-image: url("../../images/3eda2ca9f3935f2691a32831edd7b5f8.jpeg");
    min-height: 338px;
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-4 .u-group-1 {
        width: 584px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-right: 8px;
    }

    .u-section-4 .u-text-1 {
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
    }

    .u-section-4 .u-line-1 {
        width: 208px;
    }

    .u-section-4 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-group-1 {
        width: 447px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-right: 6px;
    }

    .u-section-4 .u-text-1 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-4 .u-line-1 {
        width: 160px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-group-1 {
        width: 419px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-right: 5px;
    }

    .u-section-4 .u-text-1 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .u-section-4 .u-line-1 {
        width: 150px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-group-1 {
        width: 340px;
        min-height: 145px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-right: 3px;
    }

    .u-section-4 .u-text-1 {
        width: 233px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-4 .u-line-1 {
        width: 126px;
        margin-top: 25px;
        margin-left: 107px;
    }
}

.u-section-5 {
    background-image: none;
}

.u-section-5 .u-sheet-1 {
    min-height: 679px;
}

.u-section-5 .u-shape-1 {
    width: 570px;
    height: 340px;
    margin: 305px 60px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
    width: 931px;
    margin: -572px auto 0 104px;
}

.u-section-5 .u-layout-cell-1 {
    min-height: 526px;
}

.u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-5 .u-text-1 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 239px 0 55px;
}

.u-section-5 .u-image-1 {
    min-height: 526px;
    background-image: url("../../images/903b9f61d55eb7863901174b27778408.jpeg");
    background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
    margin-bottom: 0;
}

.u-section-5 .u-text-2 {
    font-family: abril-fatface;
    margin: -506px 517px 70px 124px;
}

@media (max-width: 1199px) {
    .u-section-5 .u-shape-1 {
        width: 470px;
        margin-right: 49px;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 768px;
        margin-left: 86px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-right: 16px;
    }

    .u-section-5 .u-text-2 {
        font-size: 1.875rem;
        margin-right: 426px;
        margin-left: 102px;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-shape-1 {
        width: 360px;
        margin-right: 38px;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 654px;
        margin-left: 0;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 533px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-right: 17px;
        padding-left: 17px;
    }

    .u-section-5 .u-text-1 {
        position: relative;
        margin-top: 167px;
        margin-bottom: 0;
    }

    .u-section-5 .u-image-1 {
        min-height: 533px;
    }

    .u-section-5 .u-text-2 {
        margin: -512px 237px 453px 17px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 930px;
    }

    .u-section-5 .u-shape-1 {
        width: 338px;
        height: 400px;
        margin-top: 426px;
        margin-right: 0;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 442px;
        margin-top: -766px;
        margin-left: 49px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 417px;
        order: 0;
    }

    .u-section-5 .u-container-layout-1 {
        padding-right: 13px;
        padding-left: 13px;
    }

    .u-section-5 .u-text-1 {
        margin-top: 195px;
        margin-bottom: 40px;
    }

    .u-section-5 .u-image-1 {
        min-height: 417px;
        order: 1;
    }

    .u-section-5 .u-text-2 {
        margin: -815px 73px 686px 62px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1068px;
    }

    .u-section-5 .u-shape-1 {
        width: 283px;
        margin-top: 638px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 300px;
        margin-top: -978px;
        margin-right: 0;
        margin-left: auto;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 491px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-right: 6px;
    }

    .u-section-5 .u-text-1 {
        margin: 260px 23px 33px -23px;
    }

    .u-section-5 .u-image-1 {
        min-height: 450px;
    }

    .u-section-5 .u-text-2 {
        margin: -926px 19px 763px;
    }
}

.u-section-6 {
    background-image: none;
}

.u-section-6 .u-sheet-1 {
    min-height: 563px;
}

.u-section-6 .u-group-1 {
    width: 570px;
    min-height: 86px;
    margin: 37px auto 0;
}

.u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-family: abril-fatface;
}

.u-section-6 .u-layout-wrap-1 {
    margin: 30px auto 50px 0;
}

.u-section-6 .u-layout-cell-1 {
    min-height: 387px;
}

.u-section-6 .u-image-1 {
    height: 247px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
    font-family: abril-fatface;
    margin: 7px 20px 0;
}

.u-section-6 .u-text-3 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 7px 20px 26px;
}

.u-section-6 .u-layout-cell-2 {
    background-image: none;
    min-height: 387px;
}

.u-section-6 .u-image-2 {
    height: 247px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
    font-family: abril-fatface;
    margin: 7px 20px 0;
}

.u-section-6 .u-text-5 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 7px 20px 26px;
}

.u-section-6 .u-layout-cell-3 {
    background-image: none;
    min-height: 387px;
}

.u-section-6 .u-image-3 {
    height: 247px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
    font-family: abril-fatface;
    margin: 7px 20px 0;
}

.u-section-6 .u-text-7 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 7px 20px 26px;
}

@media (max-width: 1199px) {
    .u-section-6 .u-group-1 {
        width: 470px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .u-section-6 .u-text-1 {
        position: relative;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-text-2 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-6 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-text-4 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-6 .u-text-5 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-6 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-text-6 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-group-1 {
        width: 360px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 13px;
        padding-right: 13px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-5 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 13px;
        margin-right: 13px;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1376px;
    }

    .u-section-6 .u-group-1 {
        min-height: 118px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-5 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-group-1 {
        width: 283px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 6px;
        padding-right: 6px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-3 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-5 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-6 .u-text-7 {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.u-section-7 {
    background-image: none;
}

.u-section-7 .u-sheet-1 {
    min-height: 263px;
}

.u-section-7 .u-layout-wrap-1 {
    margin: 46px auto 46px 0;
}

.u-section-7 .u-layout-cell-1 {
    min-height: 192px;
}

.u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-7 .u-text-1 {
    font-family: abril-fatface;
    margin: 25px 0 0;
}

.u-section-7 .u-text-2 {
    font-style: italic;
    font-size: 0.875rem;
    width: 210px;
    margin: 0 auto 25px;
}

.u-section-7 .u-layout-cell-2 {
    min-height: 192px;
    background-image: none;
}

.u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-7 .u-text-3 {
    font-family: abril-fatface;
    margin: 25px 0 0;
}

.u-section-7 .u-text-4 {
    font-style: italic;
    font-size: 0.875rem;
    width: 210px;
    margin: 0 auto 25px;
}

.u-section-7 .u-layout-cell-3 {
    min-height: 192px;
    background-image: none;
}

.u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-7 .u-text-5 {
    font-family: abril-fatface;
    margin: 25px 0 0;
}

.u-section-7 .u-text-6 {
    font-style: italic;
    font-size: 0.875rem;
    width: 210px;
    margin: 0 auto 25px;
}

.u-section-7 .u-layout-cell-4 {
    min-height: 192px;
    background-image: none;
}

.u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-7 .u-text-7 {
    font-family: abril-fatface;
    margin: 25px 0 0;
}

.u-section-7 .u-text-8 {
    font-style: italic;
    font-size: 0.875rem;
    width: 210px;
    margin: 0 auto 25px;
}

@media (max-width: 1199px) {
    .u-section-7 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-container-layout-1 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-7 .u-text-1 {
        position: relative;
    }

    .u-section-7 .u-text-2 {
        position: relative;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-7 .u-text-3 {
        position: relative;
    }

    .u-section-7 .u-text-4 {
        width: 173px;
        position: relative;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-7 .u-text-5 {
        position: relative;
    }

    .u-section-7 .u-text-6 {
        width: 173px;
        position: relative;
    }

    .u-section-7 .u-container-layout-4 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .u-section-7 .u-text-7 {
        position: relative;
    }

    .u-section-7 .u-text-8 {
        width: 173px;
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-container-layout-1 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-7 .u-text-4 {
        width: 133px;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-7 .u-text-6 {
        width: 133px;
    }

    .u-section-7 .u-container-layout-4 {
        padding-left: 19px;
        padding-right: 19px;
    }

    .u-section-7 .u-text-8 {
        width: 133px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-container-layout-1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-7 .u-text-4 {
        width: 124px;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-7 .u-text-6 {
        width: 124px;
    }

    .u-section-7 .u-container-layout-4 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-7 .u-text-8 {
        width: 124px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-container-layout-1 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-7 .u-text-4 {
        width: 104px;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-7 .u-text-6 {
        width: 104px;
    }

    .u-section-7 .u-container-layout-4 {
        padding-left: 9px;
        padding-right: 9px;
    }

    .u-section-7 .u-text-8 {
        width: 104px;
    }
}

.u-section-8 .u-sheet-1 {
    min-height: 603px;
}

.u-section-8 .u-group-1 {
    min-height: 150px;
    width: 802px;
    margin: 25px auto 0;
}

.u-section-8 .u-container-layout-1 {
    padding-right: 0;
}

.u-section-8 .u-text-1 {
    font-family: abril-fatface;
    margin: 15px 60px 0;
}

.u-section-8 .u-text-2 {
    font-size: 0.875rem;
    font-style: italic;
    width: 341px;
    margin: 10px auto 15px;
}

.u-section-8 .u-layout-wrap-1 {
    margin: 18px auto 32px 0;
}

.u-section-8 .u-layout-cell-1 {
    min-height: 398px;
}

.u-section-8 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
}

.u-section-8 .u-image-1 {
    width: 108px;
    height: 108px;
    background-image: url("../../images/474abe5a-e6a3-4151-958c-ddeb146f5d30.jpg");
    background-position: 50% 50%;
    margin: 9px auto 0;
}

.u-section-8 .u-text-3 {
    margin: 30px 60px 0;
}

.u-section-8 .u-text-4 {
    font-family: abril-fatface;
    margin: 20px 60px 0;
}

.u-section-8 .u-text-5 {
    font-size: 0.875rem;
    font-style: italic;
    width: 440px;
    margin: 10px auto 35px;
}

.u-section-8 .u-layout-cell-2 {
    min-height: 398px;
    background-position: 0% 0%;
}

.u-section-8 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 0;
}

.u-section-8 .u-image-2 {
    width: 108px;
    height: 108px;
    background-image: url("../../images/92684995-c671-42dc-8990-e51c93e30319.jpg");
    background-position: 50% 50%;
    margin: 9px auto 0;
}

.u-section-8 .u-text-6 {
    margin: 30px 60px 0;
}

.u-section-8 .u-text-7 {
    font-family: abril-fatface;
    margin: 20px 60px 0;
}

.u-section-8 .u-text-8 {
    font-size: 0.875rem;
    font-style: italic;
    width: 440px;
    margin: 10px auto 35px;
}

@media (max-width: 1199px) {
    .u-section-8 .u-group-1 {
        width: 661px;
    }

    .u-section-8 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-8 .u-image-1 {
        width: 90px;
        height: 90px;
    }

    .u-section-8 .u-text-3 {
        position: relative;
    }

    .u-section-8 .u-text-4 {
        position: relative;
    }

    .u-section-8 .u-text-5 {
        position: relative;
    }

    .u-section-8 .u-image-2 {
        width: 90px;
        height: 90px;
    }

    .u-section-8 .u-text-6 {
        position: relative;
    }

    .u-section-8 .u-text-7 {
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
        min-height: 708px;
    }

    .u-section-8 .u-group-1 {
        min-height: 184px;
        width: 578px;
        margin-top: 23px;
    }

    .u-section-8 .u-text-1 {
        position: relative;
        margin-top: 20px;
    }

    .u-section-8 .u-text-2 {
        position: relative;
        margin-bottom: 20px;
    }

    .u-section-8 .u-layout-wrap-1 {
        margin-top: 20px;
        margin-bottom: 18px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 483px;
    }

    .u-section-8 .u-image-1 {
        width: 79px;
        height: 79px;
        margin-top: 33px;
    }

    .u-section-8 .u-text-3 {
        margin-top: 28px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-8 .u-text-4 {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-8 .u-text-5 {
        margin-left: -45px;
        margin-right: -45px;
        margin-bottom: 45px;
        width: 350px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 483px;
    }

    .u-section-8 .u-image-2 {
        width: 69px;
        height: 69px;
        margin-top: 38px;
    }

    .u-section-8 .u-text-6 {
        margin-top: 38px;
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-8 .u-text-7 {
        width: 230px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-8 .u-text-8 {
        margin-left: -45px;
        margin-right: -45px;
        margin-bottom: 45px;
        width: 350px;
    }
}

@media (max-width: 767px) {
    .u-section-8 .u-sheet-1 {
        min-height: 989px;
    }

    .u-section-8 .u-group-1 {
        min-height: 194px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-8 .u-container-layout-1 {
        padding-left: 0;
    }

    .u-section-8 .u-text-1 {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-8 .u-text-2 {
        margin-top: 16px;
    }

    .u-section-8 .u-layout-wrap-1 {
        width: 363px;
        margin: 8px auto 17px 89px;
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 403px;
    }

    .u-section-8 .u-image-1 {
        width: 65px;
        height: 65px;
        margin-top: 19px;
        margin-left: 149px;
    }

    .u-section-8 .u-text-3 {
        margin-top: 23px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .u-section-8 .u-text-4 {
        margin-top: 13px;
    }

    .u-section-8 .u-text-5 {
        margin-left: -38px;
        margin-right: -38px;
        margin-bottom: 38px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 428px;
    }

    .u-section-8 .u-image-2 {
        width: 65px;
        height: 65px;
        margin-top: 21px;
    }

    .u-section-8 .u-text-8 {
        margin-left: -38px;
        margin-right: -38px;
    }
}

@media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
        min-height: 988px;
    }

    .u-section-8 .u-group-1 {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-8 .u-text-1 {
        margin-top: 14px;
        margin-left: 28px;
        margin-right: 28px;
        width: auto;
    }

    .u-section-8 .u-text-2 {
        width: 340px;
        margin: 6px 0 14px;
    }

    .u-section-8 .u-layout-wrap-1 {
        margin-bottom: 43px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 356px;
    }

    .u-section-8 .u-image-1 {
        width: 54px;
        height: 54px;
        position: relative;
        margin-left: auto;
    }

    .u-section-8 .u-text-5 {
        margin-left: -50px;
        margin-right: -50px;
        width: 340px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 355px;
    }

    .u-section-8 .u-image-2 {
        width: 54px;
        height: 54px;
        position: relative;
    }

    .u-section-8 .u-text-8 {
        margin-left: -50px;
        margin-right: -50px;
        width: 340px;
    }
}

.u-section-9 {
    background-image: none;
}

.u-section-9 .u-sheet-1 {
    /*min-height: 600px;*/
}

.u-section-9 .u-layout-wrap-1 {
    margin: 31px 0 30px;
}

.u-section-9 .u-layout-cell-1 {
    /*min-height: 270px;*/
}

.u-section-9 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
}

.u-section-9 .u-text-1 {
    font-size: 1.25rem;
    margin: 73px 0 0;
}

.u-section-9 .u-text-2 {
    font-size: 1.25rem;
    margin: 8px 0 0;
}

.u-section-9 .u-text-3 {
    font-size: 1.25rem;
    margin: -1px 0 0;
}

.u-section-9 .u-text-4 {
    font-size: 1.25rem;
    width: 450px;
    margin: 0 auto 25px;
}

.u-section-9 .u-layout-cell-2 {
    min-height: 269px;
}

.u-section-9 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
}

.u-section-9 .u-text-5 {
    font-family: abril-fatface;
    margin: 25px 0 0;
}

.u-section-9 .u-text-6 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 20px 0 25px;
}

.u-section-9 .u-layout-cell-3 {
    min-height: 539px;
}

.u-section-9 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 1199px) {
    .u-section-9 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-container-layout-1 {
        padding-left: 49px;
        padding-right: 49px;
    }

    .u-section-9 .u-text-1 {
        width: 450px;
    }

    .u-section-9 .u-text-3 {
        width: 450px;
    }

    .u-section-9 .u-container-layout-2 {
        padding-left: 49px;
        padding-right: 49px;
    }

    .u-section-9 .u-text-5 {
        font-size: 1.5rem;
    }

    .u-section-9 .u-container-layout-3 {
        padding-left: 49px;
        padding-right: 49px;
    }
}

@media (max-width: 991px) {
    .u-section-9 .u-container-layout-1 {
        padding-left: 38px;
        padding-right: 38px;
    }

    .u-section-9 .u-container-layout-2 {
        padding-left: 38px;
        padding-right: 38px;
    }

    .u-section-9 .u-container-layout-3 {
        padding-left: 38px;
        padding-right: 38px;
    }
}

@media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
        min-height: 1000px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-bottom: 1px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 233px;
    }

    .u-section-9 .u-container-layout-1 {
        padding-left: 28px;
        padding-right: 28px;
    }

    .u-section-9 .u-text-1 {
        position: relative;
    }

    .u-section-9 .u-text-2 {
        position: relative;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 232px;
    }

    .u-section-9 .u-container-layout-2 {
        padding-left: 28px;
        padding-right: 28px;
    }

    .u-section-9 .u-text-5 {
        position: relative;
    }

    .u-section-9 .u-text-6 {
        position: relative;
    }

    .u-section-9 .u-layout-cell-3 {
        min-height: 465px;
    }

    .u-section-9 .u-container-layout-3 {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media (max-width: 575px) {
    .u-section-9 .u-sheet-1 {
        min-height: 1200px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-top: 19px;
        margin-bottom: 19px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 299px;
    }

    .u-section-9 .u-container-layout-1 {
        padding-left: 18px;
        padding-right: 18px;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 287px;
    }

    .u-section-9 .u-container-layout-2 {
        padding-left: 18px;
        padding-right: 18px;
    }

    .u-section-9 .u-layout-cell-3 {
        min-height: 574px;
    }

    .u-section-9 .u-container-layout-3 {
        padding-left: 18px;
        padding-right: 18px;
    }
}


.u-nav-container {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
}

.u-nav-container a:not(:last-child) {
    padding-right: 18px;
}

.u-content-data input {
    color: initial;
    margin: 12px 0;
    font-size: 1rem;
}